body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.background {
  display: flex;
  flex-direction: row;
}
.navbar {
  background-color: #03045e;
  font-family: "Courier New";
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
}

#placeholder {
  height: 100px;
  width: 250px;
  border-radius: 5px;
  margin-top: 5px;
}
#backalign {
  display: flex;
  flex-direction: row;
}
li {
  margin-top: 60px;
  list-style: none;
  display: inline-block;
}
li a {
  color: #caf0f8;
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
}
.sidebar {
  margin-bottom: 0;
    margin-top: 0;
    min-height: 80vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: min-content;
  max-height: 890px;
}
#sidetext {
  height: 100%;
  margin: initial;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  background-color: #0077b6;
  justify-content: space-evenly;
}
footer {
  display: flex;
  padding: 20px;
  margin-top: 0px;
  background: linear-gradient(180deg, #03045e, black);
  color: rgb(244, 247, 116);
  font-size: x-small;
  height: 100%;
  padding-bottom: 3000px;
  justify-content: space-around;
}
#SpaceHome {
  float: right;
  height: 10em;
  border-style: groove;
  border-width: 10px;
  border-color: burlywood;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

pre {
  flex: 1;
  margin: inherit;
  text-align: left;
  color: rgb(251 192 235 / 91%);
  font-size: -webkit-xxx-large;
  font-family: monospace;
  font-style: italic;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.ShayPicture {
  float: left;
  height: 10em;
  border-style: groove;
  border-width: 10px;
  border-color: burlywood;
  padding: 10px;
  background-color: bisque;
  margin: 20px;
}
.colpar {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url(AboutBackground.webp);
}
#aboutme {
  padding-left: 20px;
  margin-left: 0;
  font-size: xx-large;
  max-height: 890em;
  color: rgb(251 192 235 / 91%);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  background-color: #00000098;
  margin-top: 0;
  padding-top: 20px;
}
header {
  margin-top: 60px;
  padding-top: 10px;
  color: #caf0f8;
  font-family: "Courier New", Courier, monospace;
  font-size: xx-large;
  font-weight: bolder;
}
.box.red {
  display: flex;
  transform: translateX(400%);
  transition: transform 0.4s ease;
}
.animationunder {
  display: flex;
  flex-direction: column;
}
.thedesign {
  text-align: center;
}
.scroll-wheel-1 {
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: larger;
  margin-right: 20px;
  margin-left: 20px;
  max-height: 160px;
  padding: 5px;
  border-color: #000;

}

.AMhdr {
  text-align: center;
}

.scroll-wheel-2::-webkit-scrollbar {
  display: none;
}



.scroll-wheel-2 {
  /* Adjust width as needed */
  height: 500px; /* Adjust height as needed */
  overflow-y: scroll;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  border: 2px solid #ccc; /* Optional: add a border */
  padding: 10px; /* Optional: add padding */
  margin-bottom: 0;
  margin-top: 0;
}

.SCelement {
  padding: 50px;
  margin: 20px;
  background-color: antiquewhite;
  border-style: groove;
  border-color: darkgreen;
  border-radius: 5px;
  border-width: 20px;
}
.SCP {
  font-size: larger;
}

.playgame {
  height: 50px;
  width: 75px;
  border-radius: 10px;
  border-width: thick;
  background-color: aquamarine;
}
.playgame:hover {
  background-color: gold;
  cursor: pointer;
}
.GameShow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: radial-gradient(rgb(173, 255, 79), white);
}
.GameDescription {
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  margin-left: 20px;
  margin-right: 20px;
  font-size: x-large;
  max-height: 3000px;
}
.GameTitle {
  display: flex;
  flex-direction: column;
  font-family: math;
  align-items: center;
}
.contactbackground {
  align-items: center;
  background: radial-gradient(white, black);
  display: flex;
  width: 100%;
  flex-direction: column;
}

.contactcontainer {

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 200px;
  padding-right: 200px;
  margin: 10vw;
  background: linear-gradient(180deg, burlywood, white, burlywood);
  border-radius: 20px;
  border-style: groove;
    border-width: thick;
    border-color: brown;
}
.CON {
  display: flex;
  flex-direction: column;
}
.coolsymbol {
  height: 60px;
  margin-top: 100px;
}
.coolsymbol2 {
  height: 60px;
  margin-bottom: 100px;
}
.COM {
  margin-top: 20px;
}
.space {
  font-weight: 1000;
  color: brown;
  font-family: cursive;
}
.submit {
  font-family: math;
}
#linkedin {
  height: 150px;
  width: 150px;
  border-radius: 50px;
  border-style: groove;
  border-width: 10px;
  border: black;
}
#linkedin:hover{
  border: yellow;
}
#github {
  height: 150px;
  width: 150px;
  border-radius: 50px;
  border-style: groove;
  border-width: 10px;
  border: black;
}
#github:hover{
  border: yellow;
}
.LinknGit {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}